/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 50px 0;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-100 {
  width: 100%;
}

.card {
  border: 1px solid black;
}

.card-header {
  border-bottom: 1px solid black;
  padding: 0.5rem;
}

.card-body {
  padding: 0.5rem;
}

/* HEADER */

.header-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-item li {
  display: inline-block;
}

/* # Section Hero */

#hero .container {
  position: relative;
  top: 50px;
}
#hero .hero-content {
  display: flex;
}

/* Section Business Plan */

#business-plan {
  padding-top: 100px;
}

#business-plan .plan-type {
  display: flex;
}

#business-plan .business-card {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#business-plan .business-card > * {
  flex-grow: 1;
}

/* #DEBUG */

.debug,
.debug * {
  background-color: darkgray;
  border: 2px dashed black;
  padding: 10px;
  min-height: 50px;
}
